{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="content-section">
                <h2>Measurements</h2>
                <p>Temperature - °C/°C</p>
                <p>Humidity - Relative Humidity - %</p>
                <p>Barometric Pressure - hPa</p>
                <p>PM2.5 - µg/m3</p>
                <p>PM10 - µg/m3</p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}