{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="content-section">
                <h2>Measurements</h2>

                <h6>Temperature - °C/°F</h6>
                <p>Recommended temperature is 21°C as recommended in a study by housing expert <a
                        href="http://www.eci.ox.ac.uk/research/energy/downloads/40house/chapter04.pdf">Richard
                    Moore.</a></p>

                <h6>Humidity - Relative Humidity - %</h6>
                <p>Although subjective, many articles suggest the best room humidity value of ~50%. <a
                        href="https://www.telegraph.co.uk/finance/property/advice/9614700/What-is-the-recommended-humidity-for-a-home.html">Article
                    1</a></p>

                <h6>Barometric Pressure - hPa</h6>
                <p></p>

                <hr>

                <h2>Air Pollution</h2>
                <p>The DAQI tells you about levels of air pollution. It also provides health advice in the form of
                    recommended actions you may wish to take, according to the level of air pollution. The index is
                    numbered 1-10 and divided into four bands, low (1) to very high (10), to provide detail about air
                    pollution levels in a simple way. This system was recommended by the Committee on Medical Effects of
                    Air Pollutants (COMEAP). <a
                            href="https://uk-air.defra.gov.uk/air-pollution/daqi?view=more-info&pollutant=pm25#pollutant">UK
                        AIR - Air Information Resource</a></p>
                <p>The overall air pollution index for a site or region is determined by the highest concentration of
                    five pollutants:</p>

                <ul>
                    <li>Nitrogen Dioxide</li>
                    <li>Sulphur Dioxide</li>
                    <li>Ozone</li>
                    <li>Particles < 2.5µm (PM2.5)</li>
                    <li>Particles < 10µm (PM10)</li>
                </ul>
                <p></p>
                <br>


                <h6>PM2.5 - &micro;g/m&sup3;</h6>
                <table width="100%">
                    <thead>
                    <tr>
                        <th width="80">Index</th>
                        <th>1</th>
                        <th>2</th>
                        <th>3</th>
                        <th>4</th>
                        <th>5</th>
                        <th>6</th>
                        <th>7</th>
                        <th>8</th>
                        <th>9</th>
                        <th>10</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th>Band</th>
                        <td class="">Low</td>
                        <td class="">Low</td>
                        <td class="">Low</td>
                        <td class="">Moderate</td>
                        <td class="">Moderate</td>
                        <td class="">Moderate</td>
                        <td class="">High</td>
                        <td class="">High</td>
                        <td class="">High</td>
                        <td class="">Very High</td>
                    </tr>
                    <tr>
                        <th>&micro;g/m&sup3;</sup></th>
                        <td class="bg_low1">0-11</td>
                        <td class="bg_low2">12-23</td>
                        <td class="bg_low3">24-35</td>
                        <td class="bg_moderate4">&gt;36-41</td>
                        <td class="bg_moderate5">&gt;42-47</td>
                        <td class="bg_moderate6">&gt;48-53</td>
                        <td class="bg_high7">54-58</td>
                        <td class="bg_high8">59-64</td>
                        <td class="bg_high9">65-70</td>
                        <td class="bg_very_high10">71 or more</td>
                    </tr>
                    </tbody>
                </table>

                <br>

                <h6>PM10 - &micro;g/m&sup3;</h6>
                <table border="0" cellspacing="0" cellpadding="2" width="100%">
                    <tbody>
                    <tr>
                        <th width="80">Index</th>
                        <th>1</th>
                        <th>2</th>
                        <th>3</th>
                        <th>4</th>
                        <th>5</th>
                        <th>6</th>
                        <th>7</th>
                        <th>8</th>
                        <th>9</th>
                        <th>10</th>
                    </tr>
                    <tr>
                        <th>Band</th>
                        <td class="bg_low1">Low</td>
                        <td class="bg_low2">Low</td>
                        <td class="bg_low3">Low</td>
                        <td class="bg_moderate4">Moderate</td>
                        <td class="bg_moderate5">Moderate</td>
                        <td class="bg_moderate6">Moderate</td>
                        <td class="bg_high7">High</td>
                        <td class="bg_high8">High</td>
                        <td class="bg_high9">High</td>
                        <td class="bg_very_high10">Very High</td>
                    </tr>
                    <tr>
                        <th>&micro;g/m&sup3;</th>
                        <td class="bg_low1">0-16</td>
                        <td class="bg_low2">17-33</td>
                        <td class="bg_low3">34-50</td>
                        <td class="bg_moderate4">51-58</td>
                        <td class="bg_moderate5">59-66</td>
                        <td class="bg_moderate6">67-75</td>
                        <td class="bg_high7">76-83</td>
                        <td class="bg_high8">84-91</td>
                        <td class="bg_high9">92-100</td>
                        <td class="bg_very_high10">101 or more</td>
                    </tr>
                    </tbody>
                </table>
                <p></p>
            </div>
        </div>
    </div>
</div>
{% endblock content %}