{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-5">
            <div class="content-section">
                <legend class="border-bottom mb-4">Node Management</legend>
                <form role="form" method="POST" action="{{ url_for('node_management') }}">
                    <select name="node_name" class="mdb-select md-form">
                        <option hidden>Select node:</option>
                        {% for n in node_names %}
                        <option value="{{ n }}">{{ n }}</option>
                        {% endfor %}
                    </select>
                    <fieldset class="form-group my-3">
                        <div class="btn-group-vertical">
                            <div class="form-group">
                                {{ register_node_form.nodeView(class="btn btn-outline-info") }}
                            </div>
                            <div class="form-group">
                                <button type="button" class="btn-dgr btn btn-outline-info" data-toggle="modal"
                                        data-target="#removeModal">Remove Node
                                </button>
                            </div>
                        </div>
                    </fieldset>
                    <!-- Modal -->
                    <div class="modal fade" id="removeModal" tabindex="-1" role="dialog"
                         aria-labelledby="removeModalLabel"
                         aria-hidden="true">
                        <div class="modal-dialog" role="document">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="removeModalLabel">Are you sure you want to remove this
                                        monitoring node?</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    Removing the node will delete all associated data, are you sure you want to
                                    continue?
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary" data-dismiss="modal">
                                        Close
                                    </button>
                                    <button type="submit" class="btn-dgr btn btn-outline-info">
                                        Remove Node
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>

                <legend class="border-bottom mb-4 my-3">Register Node</legend>
                <form method="POST" action="">
                    {{ register_node_form.hidden_tag() }}
                    <fieldset class="form-group">
                        <div class="form-group">
                            {{ register_node_form.nodeName.label(class="form-control-label") }}
                            {{ register_node_form.nodeName(class="form-control form-control-lg") }}
                        </div>
                        <div class="form-group">
                            {{ register_node_form.nodeLocation.label(class="form-control-label") }}
                            {{ register_node_form.nodeLocation(class="form-control form-control-lg") }}
                        </div>
                        <div class="form-group">
                            {{ register_node_form.nodeAdd(class="btn btn-outline-info") }}
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
        <div class="col-5">
            <div class="content-section">
                <legend class="border-bottom mb-4">User Management</legend>
                 <form method="POST" action="">
                    <select name="account_name" class="mdb-select md-form">
                        <option hidden>Select node:</option>
                        {% for user in usernames %}
                        <option value="{{ user }}">{{ user }}</option>
                        {% endfor %}
                    </select>
                    <fieldset class="form-group my-3">
                        <div class="btn-group-vertical">
                            <div class="form-group">
                                {{ user_management_form.userRemove(class="btn btn-outline-info") }}
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock content %}
