{% extends "layout.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-8">
            <div class="content-section">
                <h3>Monitoring Nodes</h3>
                <p class='text-muted'>View the latest air quality information here. </p>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-light">Latest Data</li>
                </ul>
                {% if rows %}
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Node ID</th>
                            <th scope="col">Date/Time</th>
                            <th scope="col">Temperature</th>
                            <th scope="col">Humidity</th>
                            <th scope="col">Barometric Pressure</th>
                            <th scope="col">PM2.5</th>
                            <th scope="col">PM10</th>
                        </tr>
                        </thead>
                        {% for row in rows %}
                        <tr>
                            <td>{{ row[0] }}</td>
                            <td>{{ row[1] }}</td>
                            <td>{{ row[2][:-7]|replace("T", " ") }}</td>
                            <td>{{ row[3] }}</td>
                            <td>{{ row[4] }}</td>
                            <td>{{ row[5] }}</td>
                            <td>{{ row[6] }}</td>
                            <td>{{ row[7] }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                {{ pagination.info }}
                {{ pagination.links }}
                {% endif %}
            </div>
        </div>
        <div class="col-4">
            <div class="content-section">
                <h3>Available Nodes</h3>
                <p class='text-muted'>View monitoring nodes which recently submitted data. </p>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-light">Online Nodes</li>
                </ul>
                <ul class="list-group list-unstyled">
                    {% for name in names %}
                    <li><a href="/node/{{ name.node_id }}" class="list-group-item unlink">{{ name.name }}</a></li>
                    {% endfor %}
                </ul>
            </div>
        </div>
    </div>
</div>

{% endblock content %}