{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            <div class="content-section">
                <legend class="border-bottom mb-2">Graph</legend>
                <div>
                    <select class="form-control" id='measurement'>
                        <option value="0">Temperature</option>
                        <option value="1">Humidity</option>
                        <option value="2">Barometric Pressure</option>
                        <option value="3">PM2.5</option>
                        <option value="4">PM10</option>
                    </select>
                </div>
                <div id="chart" class="chart">
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="content-section">
                <legend class="border-bottom mb-3">Node</legend>
                <div class="row pl-3 mb-2">
                    <span class="oi oi-tag node-info"></span>{{node.name}}
                </div>
                <div class="row pl-3 mb-2">
                    <span class="oi oi-globe node-info"></span>{{node.location}}
                </div>
                <legend class="border-bottom mb-2">Latest Information</legend>
                {% if last_node_record.temp is defined and last_node_record.temp %}
                {% if current_user.is_authenticated %}
                {% if current_user.get_unit_preference() == 0 %}
                <p>Temperature: {{ last_node_record.temp }}°C</p>
                {% elif current_user.get_unit_preference() == 1 %}
                <p>Temperature: {{ convert_temp_f(last_node_record.temp) }}°F</p>
                {% endif %}
                {% else %}
                <p>Temperature: {{ last_node_record.temp }}°C</p>
                {% endif %}
                {% else %}
                <p>Temperature: N/A</p>
                {% endif %}

                {% if last_node_record.humidity is defined and last_node_record.humidity %}
                <p>Humidity: {{ last_node_record.humidity }}%</p>
                {% else %}
                <p>Humidity: N/A</p>
                {% endif %}

                {% if last_node_record.barometric_pressure is defined and last_node_record.barometric_pressure %}
                <p>Barometric Pressure: {{ last_node_record.barometric_pressure }} hPa</p>
                {% else %}
                <p>Barometric Pressure: N/A</p>
                {% endif %}

                {% if last_node_record.pm_25 is defined and last_node_record.pm_25 %}
                <p>PM2.5: {{ last_node_record.pm_25 }} µg/m³</p>
                {% else %}
                <p>PM2.5: N/A</p>
                {% endif %}

                {% if last_node_record.pm_10 is defined and last_node_record.pm_10 %}
                <p>PM10: {{ last_node_record.pm_10 }} µg/m³</p>
                {% else %}
                <p>PM10: N/A</p>
                {% endif %}
                <legend class="border-bottom mb-3"></legend>
                <div class="row pl-3 mb-2">
                    <form action="{{ url_for('node_download', node_id=node.node_id) }}" method="POST">
                        <input class="btn btn-secondary" type="submit" value="Download data">
                    </form>
                </div>

            </div>
        </div>
    </div>

    {% if current_user.is_authenticated %}
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="content-section">
                <legend class="border-bottom mb-4">Alert Management</legend>

                <form action="" method="POST">
                    {{ form.hidden_tag() }}
                    <div class="form-group row">
                        <label class="control-label col-md-2 h5">IF</label>
                        <div class="col-md-3">
                            <select class="form-control" name="measurement">
                                <option value="0">Temperature</option>
                                <option value="1">Humidity</option>
                                <option value="2">Barometric Pressure</option>
                                <option value="3">PM2.5</option>
                                <option value="4">PM10</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group row">
                        <label class="control-label col-md-2 h5">STATE</label>
                        <div class="col-md-3">
                            <select class="form-control" name="state">
                                <option value="<">Is Less Than</option>
                                <option value="==">Is Equal To</option>
                                <option value=">">Is Greater Than</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group row">
                        <label class="control-label col-md-2 h5">VALUE</label>
                        <div class="col-md-3">
                            {% if form.value.errors %}
                            {{ form.value(class="form-control form-control-lg is-invalid") }}
                            <div class="invalid-feedback">
                                {% if form.value.errors %}
                                {% for error in form.value.errors %}
                                <span>Enter a number value.</span>
                                {% endfor %}
                                {% endif %}
                            </div>
                            {% else %}
                            {{ form.value(class="form-control form-control-lg") }}
                            {% endif %}
                        </div>
                    </div>
                    <div class="form-group row">
                        <div class="col-sm-10">
                            <button type="submit" name="submit" class="btn btn-outline-info">Create Alert</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    {% else %}
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="content-section opaque">
                <legend class="border-bottom mb-4 text-muted">Alert Management</legend>
                <form action="" method="POST">
                    <fieldset disabled>
                        <div class="form-group row">
                            <label class="control-label col-md-2 h5 text-muted">IF</label>
                            <div class="col-md-3">
                                <select class="form-control" name="measurement">
                                    <option value="0">Temperature</option>
                                    <option value="1">Humidity</option>
                                    <option value="2">Barometric Pressure</option>
                                    <option value="3">PM2.5</option>
                                    <option value="4">PM10</option>
                                </select>
                            </div>
                        </div>
                        <div class="form-group row">
                            <label class="control-label col-md-2 h5 text-muted">STATE</label>
                            <div class="col-md-3">
                                <select class="form-control" name="state">
                                    <option value="<">Is Less Than</option>
                                    <option value="==">Is Equal To</option>
                                    <option value=">">Is Greater Than</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group row">
                            <label class="control-label col-md-2 h5 text-muted">VALUE</label>
                            <div class="col-md-3">
                                <input type="text" class="form-control" name="value" placeholder="">
                            </div>
                        </div>
                        <div class="form-group row">
                            <div class="col-sm-10">
                                <button type="button" class="btn btn-secondary btn-lg" disabled>Create Alert</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="row justify-content-center">
        <div class="col-12">
            <div class="content-section">
                <legend class="border-bottom">Records</legend>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Date/Time</th>
                            {% if current_user.is_authenticated %}
                            {% if current_user.get_unit_preference() == 0 %}
                            <th scope="col">Temperature (°C)</th>
                            {% elif current_user.get_unit_preference() == 1 %}
                            <th scope="col">Temperature (°F)</th>
                            {% endif %}
                            {% else %}
                            <th scope="col">Temperature (°C)</th>
                            {% endif %}
                            <th scope="col">Humidity (%)</th>
                            <th scope="col">Barometric Pressure (hPa)</th>
                            <th scope="col">PM2.5 (µg/m³)</th>
                            <th scope="col">PM10 (µg/m³)</th>
                        </tr>
                        </thead>
                        {% for row in rows %}
                        <tr>
                            <td>{{ row[0] }}</td>
                            <td>{{ row[1][:-7]|replace("T", " ") }}</td>
                            <td>{{ convert_temp_f(row[2]) }}</td>
                            <td>{{ row[3] }}</td>
                            <td>{{ row[4] }}</td>
                            <td>{{ row[5] }}</td>
                            <td>{{ row[6] }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
                {{ pagination.info }}
                {{ pagination.links }}
            </div>
        </div>
    </div>
</div>
{% endblock content %}

{% block scripts %}
<!-- D3.js -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3/3.5.6/d3.min.js"></script>
<script src="https://code.jquery.com/jquery-2.1.4.min.js"></script>
<!-- Plotly.js -->
<script src="https://cdn.plot.ly/plotly-latest.min.js"></script>

<!-- @formatter:off -->
<script type="text/javascript">
var graphs = {{graph_json | safe}};
Plotly.plot('chart',graphs,{});
</script>
<!-- @formatter:on -->
<script src="{{ url_for('static', filename='js/plot.js') }}"></script>
{% endblock scripts %}