{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-8">
            <div class="content-section">
                <legend class="border-bottom mb-4">Graph</legend>
            </div>
        </div>
        <div class="col-4">
            <div class="content-section">
                <div class="container">
                    <legend class="border-bottom mb-3">Node</legend>
                    <div class="row pl-3 mb-2">
                        <span class="oi oi-tag node-info"></span>{{node.name}}
                    </div>
                    <div class="row pl-3 mb-2">
                        <span class="oi oi-globe node-info"></span>{{node.location}}
                    </div>
                    <legend class="border-bottom mb-2">Latest Information</legend>
                    <p>Temperature: {{ last_node_record.temp }}</p>
                    <p>Humidity: {{ last_node_record.humidity }}</p>
                    <p>Barometric Pressure: {{ last_node_record.barometric_pressure }}</p>
                    <p>PM2.5: {{ last_node_record.pm_25 }}</p>
                    <p>PM10: {{ last_node_record.pm_10 }}</p>
                    <legend class="border-bottom mb-3"></legend>
                    <div class="row pl-3 mb-2">
                        <form action="{{ url_for('node_download', node_id=node.node_id) }}" method="POST">
                            <input class="btn btn-secondary" type="submit" value="Download data">
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if current_user.is_authenticated %}
    <div class="row justify-content-center">
        <div class="col-12">
            <div class="content-section">
                <legend class="border-bottom mb-4">Alert Management</legend>

            </div>
        </div>
    </div>
    {% endif %}
<!--    TODO: Have alert management options greyed out if not logged in.-->

    <div class="row justify-content-center">
        <div class="col-12">
            <div class="content-section">
                <legend class="border-bottom">Records</legend>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Date/Time</th>
                            <th scope="col">Temperature</th>
                            <th scope="col">Humidity</th>
                            <th scope="col">Barometric Pressure</th>
                            <th scope="col">PM2.5</th>
                            <th scope="col">PM10</th>
                        </tr>
                        </thead>
                        {% for row in rows %}
                        <tr>
                            <td>{{ row[0] }}</td>
                            <td>{{ row[1]|truncate(19, end='') }}</td>
                            <td>{{ row[2] }}</td>
                            <td>{{ row[3] }}</td>
                            <td>{{ row[4] }}</td>
                            <td>{{ row[5] }}</td>
                            <td>{{ row[6] }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}