{% extends "layout.html" %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-8">
            <div class="content-section">
                <h3>Monitoring Nodes</h3>
                <p class='text-muted'>View the latest air quality information here. </p>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-light">Latest Data</li>
                </ul>
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Node ID</th>
                            <th scope="col">Date/Time</th>
                            <th scope="col">Temperature</th>
                            <th scope="col">Humidity</th>
                            <th scope="col">Barometric Pressure</th>
                            <th scope="col">PM2.5</th>
                            <th scope="col">PM10</th>
                        </tr>
                        </thead>
                        {% for row in rows %}
                        <tr>
                            <td>{{ row[0] }}</td>
                            <td>{{ row[1] }}</td>
                            <td>{{ row[2]|truncate(19, end='') }}</td>
                            <td>{{ row[3] }}</td>
                            <td>{{ row[4] }}</td>
                            <td>{{ row[5] }}</td>
                            <td>{{ row[6] }}</td>
                            <td>{{ row[7] }}</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
        </div>
        <div class="col-4">
            <div class="content-section">
                <h3>Available Nodes</h3>
                <p class='text-muted'>View connected monitoring nodes. </p>
                <ul class="list-group">
                    <li class="list-group-item list-group-item-light">Available Nodes</li>
                </ul>
                <form>
                    <div class="form-group">
                        <label for="nodeName">Node name:</label>
                        <input type="text" class="form-control" id="nodeName"
                               placeholder="Enter node name">
                    </div>
                    <div class="form-group">
                         <label for="nodeLocation">Location:</label>
                        <input type="text" class="form-control" id="nodeLocation"
                               placeholder="Enter node location">
                    </div>
                    <button type="submit" class="btn btn-primary">Add</button>
                </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}